<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"	
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8"/>
        <meta name="description" content=""/>
        <title>Home</title>
        <link type="text/css" rel="stylesheet" href="assets/css/bootstrap.min.css"/>
    </head>
    <body class="body">
        <section id="nav" >
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Logo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/contact">Contact</a>
                        </li>                     
                </div>
            </nav>
        </section>
        <section id="content" layout:fragment="page_content">
        </section>
        <section id="footer">
        </section>
    </body>
</html>